html,body{color:#73645e;font: 14px/1.5 'Microsoft YaHei',"����","Arial Narrow",HELVETICA;}
body{font-size:13px;color:#666;background:url(../images/uploadbg.gif) repeat-x;height:100%; margin:0;font-family:"΢���ź�","����", Verdana, Arial, Helvetica, sans-serif;padding-top:15px;}
.p10{padding-top:8px;}
.button{width:62px;height:25px;border:none;background:url(../images/style.png);background-position:0px -168px;}
.submit{width:90px;height:25px;border:none;background:url(../images/style.png);background-position:-100px -128px;}