{%include "admin/layout/header.html"%}
<h1 class="sfcms_search_title">网站基本信息配置</h1>
<div class="line"></div>
<form name="addform" action="/admin/setting" method="post">
  <table width="100%" border="0" cellspacing="0" cellpadding="0" class="sfcms_add_table">
    <tr>
      <th colspan="7" class="title"><div class="title_nav_1"><a href="index.php?m=sfcms&c=setting">基本设置</a></div><span>|</span><div class="title_nav_2"><a href="index.php?m=sfcms&c=setting&f=cache">更新缓存</a></div><span>|</span><div class="title_nav_3"><a href="javascript:location.reload()">刷新页面</a></div></th>
    </tr>
    <tr>
      <td width="20%" align="right">网站名称：</td>
      <td colspan="3"><input name="sitename" type="text" class="txt" value="{{cfg.SiteName}}" size="30"></td>
    </tr>
    <tr>
      <td align="right">网站地址：</td>
      <td colspan="3"><input type="text" name="siteurl" class="txt" size="30" value="{{cfg.SiteUrl}}">
        如http://www.xycms.com/ <font color="#FF0000">（注:必须带"/"）</font></td>
    </tr>
    <tr>
      <td align="right">网站LOGO地址：</td>
      <td colspan="3"><input type="text" name="logourl" class="txt" size="30" value="{{cfg.LogoUrl}}"> <a href="#" onclick="javascript:ShowIframe(400,115,'上传缩略图！','system/function/upload.inc.php?filename=logourl')">上 传</a></td>
    </tr>
    <tr>
      <td align="right">默认模板：</td>
      <td colspan="3"><select name="template" id="template">
        {%for value in templates%}
        <option value="{{value}}" {%if cfg.Template==value%}selected="selected"{%endif%}>{{value}}</option>
        {%endfor%}
      </select></td>
    </tr>
    <tr>
      <td align="right">开启模板缓存：</td>
      <td colspan="3">
        <input type="radio" name="caching" value="true" {%if cfg.Caching==true %}checked="checked"{%endif%} class="checkbox"/>
        是
        <input name="caching" type="radio" value="false" {%if cfg.Caching==false %}checked="checked"{%endif%} class="checkbox" />
        否</td>
    </tr>
    <tr>
      <td align="right">Cookie密钥：</td>
      <td colspan="3"><input type="text" name="cookie" class="txt" size="10" value="{{cfg.Cookie}}"></td>
    </tr>
    <tr>
      <td align="right">版权信息：</td>
      <td colspan="3"><textarea name="copyright" cols="60" rows="4" class="textarea">{{cfg.Copyright}}</textarea>
        支持HTML语法，常用代码：版权&copy; &amp;copy; 空格 &amp;nbsp; 换行  &lt;br/&gt;</td>
    </tr>
    <tr>
      <th colspan="4" style="padding-left:5px;">SEO选项</th>
    </tr>
    <tr>
      <td align="right">是否静态优化：</td>
      <td colspan="3"><input name="createhtml" type=radio class="checkbox" value="0" {%if cfg.CreateHtml==0 %}checked{%endif%}>
        不启用模拟静态及生成
        <br>
        <input name="createhtml" type=radio class="checkbox"   value="1" {%if cfg.CreateHtml==1%}checked{%endif%}>
        开启生成HTML静态页面<br>
        <input name="createhtml" type=radio class="checkbox"   value="2" {%if cfg.CreateHtml==2%}checked{%endif%}>
        开启模拟静态化</span></td>
    </tr>
    <tr>
      <td align="right">将静态化配置应用到所有栏目：</td>
      <td colspan="3">
          <input name="apply" type="radio" class="checkbox" value="1" {%if cfg.Apply==1%}checked{%endif%} />
          是
          <br>
          <input name="apply" type="radio" class="checkbox" value="0" {%if cfg.Apply==0%}checked{%endif%}/>
          否
        </td>
    </tr>
    <tr>
      <td align="right">网站标题：</td>
      <td colspan="3"><textarea name="title" cols="50" class="txt">{{cfg.Title}}</textarea></td>
    </tr>
    <tr>
      <td align="right">网站META关键词：</td>
      <td colspan="3"><textarea name="keywords" cols="60" rows="4" class="textarea">{{cfg.Keywords}}</textarea>
        针对搜索引擎设置的关键词</td>
    </tr>
    <tr>
      <td align="right">网站META网页描述：</td>
      <td colspan="3"><textarea name="description" cols="60" rows="4" class="textarea">{{cfg.Description}}</textarea>
        针对搜索引擎设置的网页描述</td>
    </tr>
    <tr>
        <input type="submit" name="xx[]"  class="submit" />
      <td>&nbsp;</td>
      <td><input type="submit" name="submit" value="确认保存" class="submit" /><input name="tag" type="hidden" id="tag" value="config" /></td>
    </tr>
  </table>
</form>
<div class="sfcms_bottom"></div>
</body>
</html>
