<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>XYCMS企业网站管理系统--后台管理</title>
  <link rel="stylesheet" type="text/css" href="/static/admin/css/main.css">
  <script type="text/javascript" src="/static/admin/js/jquery-1.7.1.min.js"></script>
  <script type="text/javascript" src="/static/admin/js/admin.js"></script>
  <script type="text/javascript" src="/static/admin/js/block.js"></script>
  <script type="text/javascript" src="/static/admin/js/jquery.simplemodal.js"></script>
  <script type="text/javascript" src="/static/admin/js/popup.js"></script>
</head>

<body>
<div id='confirm'>
  <div class='header'><span>提示信息！</span></div>
  <p class='message'></p>
  <div class='buttons'>
    <div class='no simplemodal-close'>取消</div><div class='yes'>确定</div>
  </div>
</div>